.history-items-container {
  list-style-type: none;
  display: flex;
}
.name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  width: 50vw;
}
.logo {
  width: 25px;
  margin-right: 15px;
}
.button-container {
  margin-top: 15px;
  align-self: flex-end;
}
.url {
  font-size: 14px;
  color: darkgray;
  margin-left: 5px;
}
